%h1.text-center
  =title

-if teams.nobodies > 0
  %h2.text-center
    =teams.nobodies
    picks remaining

.row
-teams.each do |team|
  .col-sm-3
    %p
      =team

%h3.text-center Winner: £35 | Runner-up: £17 | 3rd place: £8 | 4th place: £4
