%h1.text-center ODI World Cup Sweepstake

-if teams.nobodies > 0
  %h2.text-center
    =teams.nobodies
    picks remaining

.row
-teams.each do |team|
  .col-sm-3
    %p
      =team

%h2.text-center All prizes to be paid in Bitcoin or Dogecoin
