<table class='table table-striped table-bordered'>

-count = 0

-teams.each_pair do |team, attributes|
  -if count % 2 == 0
    <tr>
  <td width='25%'>
  -unless attributes['status'] == 'In'
    <s>
  =team
  -unless attributes['status'] == 'In'
    </s>
  </td><td width='25%'>
  -unless attributes['status'] == 'In'
    <s>
  =attributes['name']
  -unless attributes['status'] == 'In'
    </s>
  </td>
  - count += 1
  -if count % 2 == 0
    </tr>

</table>
