!!! 5
%html(lang="en")
  %head
    %meta{:'http-equiv' => 'refresh', :content => '600'}
    %title= title
    %link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css', :type => "text/css"}

    -if defined? bootstrap_theme
      %link{:rel => 'stylesheet', :href => bootstrap_theme, :type => "text/css"}

    -if defined? additional_css
      %link{:rel => 'stylesheet', :href => additional_css, :type => "text/css"}

  %body
    .body
      .container-fluid
        = yield
